
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная страница</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="body_background">
    <div class="haed_of_site">
        <div class="head_of_site_title"> Реестр автромобилей в Украине </div>
        <div class="head_of_site_blocks">
            <div></div>
            <div class="head_of_site_blocks_link">
                <a href="/Home/Table">Таблица</a>
            </div>
            <div></div>
            <div class="head_of_site_blocks_link">
                <a href="/Home/Statistic">Статистика</a>
            </div>
            <div></div>
        </div>
    </div>
    <div class="body_of_main_page">
        <div></div>
        <span class="body_of_site_text">
            <br />Данный модуль был разроботан с целью демонстрации умений внедрения и оперирования БД в ASP.NET.<br />
            Темой для даного модоля был выбран реестр автомобилей в Украине.<br />
            Для детального рассмотрения реестра пользователю предложено перейти на стрницу с табличным представлениям данных, что можно сделать перейдя по ссылке "Таблица" в шапке сайта.<br />
            Также пользователю предоставляется возможность ознакомления со статистекой, базирующейся на данных из БД, таки как: самые популярные марки авто за определённый период, процентное соотношение популярности типов кузовов и т.д.<br />
            Для этого следует перейти по ссылке "Статистика" в шапке сайта.
        </span>
        <div></div>
    </div>
</body>
</html>
