@using WebMatrix.Data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Статистика</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="body_background">
    <div class="haed_of_site">
        <div class="head_of_site_title"> Реестр автромобилей в Украине </div>
        <div class="head_of_site_blocks">
            <div></div>
            <div class="head_of_site_blocks_link">
                <a href="/Home/Table">Главная страница</a>
            </div>
            <div></div>
            <div class="head_of_site_blocks_link">
                <a href="/Home/Table">Таблица</a>
            </div>
            <div></div>
        </div>
    </div>
    <div class="statictic_img_box">
        <div class="statictic_img_box_place">
            <div>
                <img src="/img/img1.png" />
            </div>
            <div>
                <img src="/img/img2.png" />
            </div>
        </div>
        <div>
            <img src="/img/img3.png" />
        </div>
    </div>
</body>
</html>
